<form action="/result" method="post">
	<input type="number" name="first"></br>
	<input type="number" name="second">
	<input type="submit" value="제출">
</form>
</br>
<a href="/result/1/1">1더하기 1의 결과는?</a>